/* Updated CSS */
.Dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.Dashboard div {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: calc(33.333% - 40px); /* For three charts in a row */
  transition: all 0.3s ease-in-out;
}

/* CSS for smaller screens */
@media screen and (max-width: 768px) {
  .Dashboard div,
  .chart-container {
    width: calc(50% - 40px); /* For two charts in a row */
  }
}

@media screen and (max-width: 480px) {
  .Dashboard div,
  .chart-container {
    width: calc(100% - 40px); /* For one chart per row */
  }
}

.Dashboard div:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.App-loading,
.App-error {
  font-size: 24px;
  color: #d9534f;
  margin-top: 50px;
}

.chart-section,
.kpi-section {
  margin-top: 40px;
  padding: 20px;
}

.chart-container {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: calc(33.333% - 40px); /* For three charts in a row */
  transition: all 0.3s ease-in-out;
}

.chart-container:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.chart-section h2,
.kpi-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.kpi-box {
  background-color: #fff;
  display: inline-block;
  margin: 20px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.kpi-number {
  font-size: 48px;
  font-weight: bold;
}

.kpi-label {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
