/* Specific to Events component */
.events-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.events-container p {
  margin: 10px 0;
  color: var(--white-color);
}

/* For Feedback Message */
.events-container .feedback {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e6f7ff; /* Adjust this color if necessary */
  border: 1px solid #b3daff; /* Adjust this color if necessary */
  color: #0056b3; /* Adjust this color if necessary */
}

/* For Forms */
.events-container form {
  flex: 1;
  margin-bottom: 30px;
}

/* For Labels */
.events-container label {
  display: block;
  margin-bottom: 10px;
  color: var(--white-color); /* Use secondary color for labels */
}

/* For Input Fields and Buttons */
.events-container input[type="text"],
.events-container input[type="file"],
.events-container textarea,
.events-container select,
.events-container button {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* For Buttons */
.events-container button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  transition: background-color 0.3s;
  font-weight: 600;
}

/* Button Hover State */
.events-container button:hover {
  background-color: #ffff00; /* Use a different color for hover if needed */
}

/* For Unordered Lists */
.events-container ul {
  flex: 1;
  list-style: none;
  padding: 0;
}

/* For List Items */
.events-container li {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* For Images */
.events-container img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* For Headings */
.events-container h3 {
  margin-top: 0;
  color: var(--white-color); /* Use secondary color for headings */
}

.events-container .filterSection {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.events-container .filterSection select,
.events-container .filterSection button {
  margin-right: 10px;
}

.events-container .filterSection button {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.events-container .filterSection button:hover {
  background-color: #ffff00; /* Use a different color for hover if needed */
}

@media (max-width: 600px) {
  .events-container .filterSection {
    flex-direction: column;
    align-items: stretch;
  }

  .events-container .filterSection select,
  .events-container .filterSection button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
