/* Variables */
:root {
  --primary-color: #007BFF;
  --secondary-color: #333;
  --bg-color: #f3f4f6;
  --error-color: red;
  --white-color: #ffffff;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* General Styling */
.App-logo {
  height: 20vmin;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.App-logo:hover {
  transform: scale(1.05);
}

.login-body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--secondary-color);
  height: 100vh; /* Changed from 50vh to 100vh to fill the whole screen */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background: var(--white-color);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  width: 300px;
  box-sizing: border-box;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 14px;
  transition: border 0.3s ease;
}

.login-form input:focus {
  border: 1px solid var(--primary-color);
}

.login-form button:not(.eye-icon) {
  /* General button styles */
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.login-form p {
  color: var(--error-color);
  margin-top: 10px;
}
.password-input-container {
  display: flex;
  align-items: center;
}

.password-input-container input {
  flex-grow: 1;
}

.login-form .eye-icon {
  /* Eye icon specific styles */
  background-color: transparent; /* Override any background color */
  border: none; /* Remove border */
  box-shadow: none; /* Remove shadow if any */
  padding: 5px; /* No padding */
  margin: 5px; /* No margin */
  width: 24px; /* Set a fixed width */
  height: 24px; /* Set a fixed height */
  cursor: pointer; /* Pointer cursor */
  outline: none; /* No focus outline */
  transition: none; /* Disable transition */
  color: transparent; /* Make text (if any) transparent */
  font-size: 0; /* Reset font size */
  line-height: 0; /* Reset line height */
  display: inline-block; /* Optional, for alignment */
}


.eye-icon.closed {
  background: url('images/eye-closed-light.svg') no-repeat center center; /* Closed eye icon */
  background-size: contain;
}

.eye-icon {
  background: url('images/eye-fill.svg') no-repeat center center; /* Open eye icon */
  background-size: contain;
}

/* Specific rules to reset inherited styles */
.eye-icon {
  transition: none; /* Disable transition */
  color: transparent; /* Make text (if any) transparent */
  font-size: 0; /* Reset font size */
  line-height: 0; /* Reset line height */
  display: inline-block; /* Optional, for alignment */
}

