.news-article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--white-color);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    color: var(--secondary-color); /* Sets default text color for the container */
}

.left-column, .right-column {
    flex: 1;
    padding: 0 20px;
    margin: 10px;
}

@media (max-width: 768px) {
    .news-article-container {
        flex-direction: column;
    }
    .left-column, .right-column {
        flex: none;
        width: 100%;
        margin: 10px 0;
    }
}

.news-article-container h2 {
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 600;
    color: var(--secondary-color);
}

.news-article-container input[type="text"],
.news-article-container input[type="file"],
.news-article-container button {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 16px;
    color: var(--secondary-color);
}

.news-article-container button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    transition: background-color 0.3s;
    font-weight: 600;
}

.news-article-container button:hover {
    background-color: #ffff00; /* Adjust if needed */
}

.news-article-container img {
    max-width: 200px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.news-article-container h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-color);
}

.news-article-container .ql-editor {
    min-height: 250px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 15px;
}

.news-article-container form {
    margin-bottom: 30px;
}

.news-article-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--secondary-color);
}

.news-article-container textarea {
    width: 100%;
    min-height: 100px;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 20px;
}

.news-article-container select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 20px;
}

.news-article-container input[type="checkbox"],
.news-article-container input[type="radio"] {
    margin-right: 5px;
}

.news-article-container .checkbox-label,
.news-article-container .radio-label {
    margin-right: 15px;
}

.feedback-container {
    height: 50px;
    margin-bottom: 20px;
    color: var(--error-color);
}
