.news-article-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-article-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.news-article-container input[type="text"],
.news-article-container input[type="file"],
.news-article-container button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.news-article-container button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.2s;
}

.news-article-container button:hover {
    background-color: #a3aab2;
}

.news-article-container img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
}

.news-article-container h4 {
    margin-top: 10px;
}

.news-article-container .ql-editor {
    min-height: 200px;
}
