.Visuals {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.visuals-container {
  width: 100%;          
  display: flex;                    
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 20px auto;
}

.slider-column, .form-column {
  box-shadow: var(--box-shadow);
  background: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.slider-column {
  flex: 1 0 59%;
  padding-right: 15px;
}

.form-column {
  flex: 1 0 39%;
  padding-left: 15px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--secondary-color);
}

input[type="text"], input[type="file"], select, textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #d1d3d4;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="file"]:focus, select:focus, textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s;
}

button:hover {
  background-color: #ffff00; /* Adjust hover color if needed */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.gallery-item {
  max-height: 150px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.gallery-item img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-height: 80vh;
  max-width: 90vw;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #fff;
  border: 4px solid #fff;
  object-fit: contain;
}

.lightbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.delete-button {
  background-color: #FF5733;
  color: white;
  border: none;
  padding: 8px 15px;
  width: 200px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.delete-button:hover {
  background-color: #E04128;
}
