/* Global Styling */
body {
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  background-color: #F4F4F4;
  color: #6d6d6d;
}

.App {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px; /* Adjust as needed */
  transition: width 0.3s;
  background-color: #2E3A48;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-toggle {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none; 
  color: var(--secondary-color);
}

.sidebar-toggle:hover {
  background-color: #ffff00; /* Darker on hover */
}

.toggle-icon {
  display: inline-block;
  width: 20px; /* Width of the icon */
  height: 2px; /* Height of the icon */
  background-color: var(--secondary-color); /* Color of the icon */
  color: var(--secondary-color);
  position: relative;
  transition: all 0.3s ease;
}


.toggle-icon.open::before,
.toggle-icon.open::after {
  position: absolute;
  top: 50%;
  transform-origin: center;
  background-color: white;
}

.toggle-icon.open::before {
  width: 20px;
  height: 2px;
  transform: translateY(-50%) rotate(45deg);
}

.toggle-icon.open::after {
  width: 20px;
  height: 2px;
  transform: translateY(-50%) rotate(-135deg);
}

.sidebar.collapsed {
  width: 50px; /* Adjust as needed */
  /* Adjust other styles for collapsed state if needed */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li.sidebar-item {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.sidebar li:hover {
  background-color: #475B6E;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #F4F4F4;
  transition: margin-left 0.3s;
}

.sidebar.collapsed ~ .main-content {
  margin-left: 50px; /* Adjust based on collapsed sidebar width */
}

.sidebar li svg {
  font-size: 20px; /* Adjust icon size */
}

h2 {
  margin-top: 0;
  color: #333;
}

/* Form Styling */
form {
  background: #FFFFFF;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}

input, textarea, button {
  width: 95%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #007BFF;
}

button {
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* List Styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #000000;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}

h3 {
  margin: 0;
  color: #333;
}

p, u {
  margin: 10px 0;
  color: #000000;
}

.user-info {
  display: flex; 
  align-items: center; 
  gap: 5px; 
}
.user-info-details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-info-welcome {
  margin: 0;
  font-size: 12px;
  color: #ccc; /* Light gray */
}

.user-info-name {
  margin: 0;
  font-size: 14px;
  color: #fff; /* White */
}

.user-info-logout {
  margin-left: auto;  /* Push to the end of flexbox */
}
.sidebar-logo {
  height: 50px; /* adjust as necessary */
  width: 50px;  /* adjust as necessary */
}

/* Feedback and Error Message Styling */
div.feedback {
  background: #e6e6e6; /* light gray for feedback */
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  color: #333;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 100%; /* Position to the right of the icon */
  margin-left: 10px; /* Space between icon and tooltip */
  white-space: nowrap; /* Prevents text from wrapping */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.sidebar.collapsed .sidebar-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
