/* Global Styling */
body {
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  background-color: #F4F4F4;
  color: #6d6d6d;
}

.App {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2E3A48;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar li:hover {
  background-color: #475B6E;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #F4F4F4;
}

h2 {
  margin-top: 0;
  color: #333;
}

/* Form Styling */
form {
  background: #FFFFFF;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}

input, textarea, button {
  width: 95%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #007BFF;
}

button {
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* List Styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #000000;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}

h3 {
  margin: 0;
  color: #333;
}

p, u {
  margin: 10px 0;
  color: #000000;
}

.user-info {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}
.user-info-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info-welcome {
  margin: 0;
  font-size: 14px;
  color: #ccc; /* Light gray */
}

.user-info-name {
  margin: 0;
  font-size: 18px;
  color: #fff; /* White */
}

.user-info-logout {
  margin-left: auto;  /* Push to the end of flexbox */
}
.sidebar-logo {
  height: 50px; /* adjust as necessary */
  width: 50px;  /* adjust as necessary */
}

/* Feedback and Error Message Styling */
div.feedback {
  background: #e6e6e6; /* light gray for feedback */
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  color: #333;
}
